{% extends 'flatpages/default.html' %}
{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Публикации</h1>
   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата создания</td>
               <td>Превью публикации</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.headline | apply_censor }}</td>
               <td>{{ post.date }}</td>
               <td>{{ post.text|truncatechars:20 | apply_censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}
{% endblock content %}

