<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Приветствуем Вас, {{ user.first_name }} {{ user.last_name }}!</title>
</head>
<body>
  <div style="text-align: center;">
    <h2><strong>Вы зарегистрировались на сайте <em>яПублицист</em>.</strong></h2>
    <br />Добро пожаловать!!!<br />
    Что бы стать автором и получить возможность публиковать свои новости и статьи
    нажмите в <a href="/profile/">профиле</a> кнопку <strong>"Хочу стать автором!"</strong>
  </div>
</body>
</html>
