{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
<p>{{ post.post_category }}</p>
{% endblock title %}

{% block content %}
<h3>{{ post.headline|apply_censor }}</h3>
Автор {{ post.author.user }}, дата {{ post.date|date:'d M Y' }}
<hr>
{{ post.text|apply_censor }}
<hr>
Категория публикации:
{% for category in post.category.all %}
    <button> <a href="/category_subscribe/"{{ category.category_name }} title="Подписаться">{{ category.category_name }}</a> </button>
{% endfor %}
<p>


<!-- надо завернуть кнопки в if user == post.author -->

<form action="edit/">
    <button type="Редактировать публикацию"> Редактировать публикацию</button>
</form>
<form action="delete/">
    <button type="Удалить публикацию"> Удалить публикацию</button>
</form>


{% endblock content %}