{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
<h4 align="center">Сегодня</h4>
<h5 align="center">{% current_time '%d %b %Y' %}</h5>
{% endblock %}

{% block content %}

<p><h6 align="center">Общее кол-во публикаций {{ paginator.count }}</h6></p>

   {% if posts %}
     <table>
        <tr>
           <td>Заголовок</td>
           <td>Текст</td>
           <td>Раздел</td>
           <td>Автор</td>
           <td>Дата</td>
        </tr>

        {% for post in posts %}
           <tr>
               <td><a href="/{{ post.id }}/">{{ post.headline|apply_censor }}</a></td>
               <td>{{ post.text|truncatechars:15|apply_censor}}</td>
               <td>{{ post.post_category }}</td>
               <td>{{ post.author.name }}</td>
               <td>{{ post.date }}</td>
           </tr>
        {% endfor %}

     </table>
   {% else %}
       <h2>Публикаций нет!</h2>
   {% endif %}

<p align="center">
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
            {% if page_obj.previous_page_number != 2 %}
                ...
            {% endif %}
            <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
    {% if page_obj.number|add:'1' < page_obj.paginator.num_pages %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if page_obj.number|add:'2' < page_obj.paginator.num_pages %}
                ...
        {% endif %}
        {% endif %}
    <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
   {% endif %}
    </p>

{% endblock %}





