{% extends "default.html" %}

{% block content %}
<h2>Личный кабинет пользователя {{request.user.username}}</h2>
<div> {{request.user.username}} </div>
<div> Имя: {{request.user.first_name}} </div>
<div> Фамилия: {{request.user.last_name}} </div>
<div> Электронная почта: {{request.user.email}} </div>
<div> Дата регистрации: {{request.user.date_joined}} </div>


<div> Группа пользователя: {{request.user.groups}} </div>
{% if is_not_author %}
<button> <a href="/sign/upgrade/"> Хочу стать автором!</a> </button>
{% endif %}

<button> <a href="/accounts/logout/">Выйти</a> </button>
{% endblock %}
