{% extends 'default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
<h3>Поиск публикаций</h3>
{% endblock title%}

{% block content %}
   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

    <p><h6 align="center">Общее кол-во найденных публикаций {{ paginator.count }}</h6></p>

     <table>
        <tr>
           <td>Заголовок</td>
           <td>Текст</td>
           <td>Раздел</td>
           <td>Автор</td>
           <td>Дата</td>
        </tr>

        {% for post in search %}
           <tr>
               <td>{{ post.headline|apply_censor }}</td>
               <td>{{ post.text|truncatechars:15|apply_censor}}</td>
               <td>{{ post.post_category }}</td>
               <td>{{ post.author }}</td>
               <td>{{ post.date }}</td>
           </tr>
        {% endfor %}

     </table>


<p align="center">
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
   {% endif %}
    </p>

{% endblock content%}
