{% extends 'default.html' %}

{% block content %}
    {% if user.is_authenticated %}

    <form method="post" action="{% url 'subscribe_category' category.id %}">
        {% csrf_token %}
        <button type="submit">Subscribe</button>
    </form>



        <h2>Ваши подписки</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Subscribe</button>
    </form>


    {% endif %}
{% endblock content %}



Категория публикации:
{% for category in post.category.all %}
     <form method="post" action="subscribe_category/{{category.id}}/">
        {% csrf_token %}
        <button type="submit">Subscribe</button>
    </form>
{% endfor %}